
<ul id="knp-cmf-add-content-menu">
    <li>
        <a href="#">{{ 'New page'|trans({}, 'KnpPageBundle') }}</a>
    </li>
    <li>
        <a href="#">{{ 'Edit page'|trans({}, 'KnpPageBundle') }}</a>
    </li>
    <li>
        <a href="#" id="add-content">{{ 'Add content'|trans({}, 'KnpPageBundle') }}</a>
        <ul>
        {% for blockTypeId in blockProvider.allTypeIds %}
            <li>
                <a href="#">{{ blockProvider.getType(blockTypeId).getName() }}</a>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>
