
<h2>{{ 'BlockTypes list'|trans([], 'knp_cmf_block') }}</h2>

<ul>
{% for blockType in blockTypes %}
    <li>
        <a href="{{ path('knp_cmf_block_edit', { 'id': blockType.name } ) }}">{{ blockType.name }}</a>
    </li>
{% endfor %}
</ul>
